<h1>update Admin</h1>

<mat-card-content>
<div class="container">
<!-- {{Admin|json}} -->

 
        
         
           


            <!-- {{postData | json}} -->
            <form (ngSubmit)="formSubmit()">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" value="user.username"
                [(ngModel)]="user.name"
                name="name">
              </div>
             
              <div class="form-group">
                <label for="status">Email</label>
                <input type="text" class="form-control" id="email" value="usere.email"
                [(ngModel)]="user.email"
                name="email">
              </div>
             
            
        
              <button  type="submit" class="btn btn-primary">update</button>
            </form>
          </div>
       
</mat-card-content>
<!-- {{adminData|json}} -->