
<mat-card>
          <mat-action-list>
                    <div mat-subheader>menu</div>
                    <button mat-list-item routerLink="/user/createPost">
                              <mat-icon mat-list-icon style="padding-top: 6px;">home</mat-icon>
                   CreatePost           
                    </button>
                    <button mat-list-item   routerLink="/user/profile">
                              
                              <mat-icon mat-list-icon style="padding-top: 6px;">account_circle</mat-icon>Profile </button>
                 
                    <button mat-list-item   routerLink="/user/viewOwnPost">
                              
                              <mat-icon mat-list-icon style="padding-top: 6px;">article</mat-icon>My posts </button>
                 
                              

          </mat-action-list> 
</mat-card>